* {
	margin: 0;
	padding: 0;
}
.text-box {
	width: 65%;
}
#first-sec h1 {
	color: #ef231c;
	font-size: 4.5rem;
}
#first-sec h2 {
	font-size: 3rem;
}
#first-sec h3 {
	color: #515050;
}

.circle {
	position: relative;
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	/* top: 764px; */

	/* My light red */

	background: #ff5252;
	box-shadow: 0px 4px 4px 25px rgba(105, 126, 200, 0.25);
}
.circle:hover {
	background: #f77d7d;
	box-shadow: 0px 4px 4px 25px rgba(66, 67, 71, 0.25);
	cursor: pointer;
}
#vector-div {
	width: 8rem;
	height: 8rem;
	position: absolute;
	top: 30%;
	left: 30%;
	border-radius: 50%;
}
#vector-div img {
	width: 100%;
	height: 100%;
}
.card {
	box-shadow: 0px 3.8419454097747803px 3.8419454097747803px 1.9209727048873901px
		#00000040;
	border-radius: 20px;
}
.card-body:hover {
	cursor: pointer;
}
.card-body:hover h5 {
	color: #0066ff;
}
.card-icons img {
	width: 37%;
}
/* #second-sec{
    width: 100%;
    
} */
@media screen and (max-width: 700px) {
    #first-sec h1{
        font-size: 2.5rem;
    }
    #first-sec h2{
        font-size: 1.5rem;
    }

}
:root {
	--mainRed: #ef231c;
	--mainWhite: #fff;
	--lightBlue: #48e9ff;
	--darkblue: #0066ff;
	--Roboto: "Roboto", sans-serif;
}
.navbar {
	background: rgba(61, 137, 250, 0.12);
	font-family: var(--Roboto);
}
.navbar-brand {
	color: white;
}
.nav-item a {
	color: black;
}
#blu:hover {
	color: var(--darkblue) !important;
}
.nav-link .btn {
	border-radius: 13px;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0,1)' stroke-width='.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
	border-color: black !important;
}

.btn {
	border-radius: 0.9rem;
}
#login {
	background-color: var(--darkblue);
	color: var(--mainWhite);
}
#login:hover {
	border: 1px solid var(--lightBlue);
	background-color: var(--mainWhite);
	color: var(--darkblue);
}
#emergency-btn {
	color: var(--mainRed);
	border: 1px solid var(--mainRed);
}
#emergency-btn:hover {
	background-color: var(--mainRed);
	color: var(--mainWhite);
}

/* footer */
footer {
	background: #8b8282;
	z-index: -1;
	padding-top: 50px;
	width: 100%;
}
footer ul {
	display: unset;
	list-style-type: none;
}
.letter {
	margin-left: 30px;
}
ul a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: #0066ff;
}

.space {
	margin-top: 100px;
}
