@media screen  and (max-width: 768px)
 {
   
    .fa-comment, span
    {
        padding-left: 10rem;
        padding-top: 2rem;
    }
    .ico{
    position: absolute;
    margin-top: 50px;
	left: 70px;
}
.pro
{
   position: absolute;
    margin-top: 50px;
    white-space: normal;
    width:90px;
    left: 35px;
    font-weight: 400;
    font-size: 0.85rem;
}
     
     .simage
     {
         position: relative;
         margin-top: 150px;
     }
     
     .section-3
     {
      position: relative;   
                 margin-top: 300px;
     }
	 

  
	 
	 .bla
	 {
		 margin-bottom: 150px;
	 }
		.call
		{
			margin-top: 20px;
		}
		
		.socials
		{
			margin-bottom:20px;
		}
	 .platform
	 {
		 padding: unset;
		 margin: unset;
	 }
    #fc3
    {
        padding-bottom: 8rem;
    }
    #fc2
    {
        padding-top: 5rem;
    }

   #logod
   {
       padding-right: 20rem;
   }

}