@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --mainRed: #EF231C;
    --mainWhite: #fff;
    --lightBlue: #48E9FF;
    --darkblue: #0066FF;
    --Roboto: "Roboto", sans-serif;
}
body{
    width: 100%;
}
.navbar
{
    background: rgba(61, 137, 250, 0.12);
    font-family: var(--Roboto);
}
.navbar-brand
{
    color: white;
}
.nav-item a
{
    color: black;
}
#blu:hover
{
    color: var(--darkblue) !important;
}
.nav-link .btn
{
    border-radius: 13px;  
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0,1)' stroke-width='.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color: black !important;
} 
x
.btn{
    border-radius: 0.9rem;
}
#login{
    background-color: var(--darkblue);
    color: var(--mainWhite);
}
#login:hover{
    border: 1px solid var(--lightBlue);
    background-color: var(--mainWhite);
    color: var(--darkblue);
}
#emergency-btn{
    color: var(--mainRed);
    border: 1px solid var(--mainRed);
}
#emergency-btn:hover{
    background-color: var(--mainRed);
    color: var(--mainWhite);
}
/* section 1 */
.section-1
{
    height: 30rem;
    padding-top: 2%;
    font-family: var(--Roboto);
    width: 100%;
}
.section-1 h1
{
    font-weight: 500;
    font-size: 2.8rem;
}
.simage{
    width: 40%;
}
.section-1 img
{
    width: 100%;
     border-top-left-radius: -120px;
    border-bottom-left-radius: 70px;
}
.fa-comment
{
    color:  rgba(0, 0, 0, 0.54);
}

.ico{
    position: absolute;
    margin-top: 100px;
	left: 200px;
}
.pro
{
   position: absolute;
    margin-top: 85px;
    white-space: normal;
    width:90px;
    font-weight: 400;
	left: 200px;
    font-size: 1.0rem;
}
/* section 3 */
.card
{	margin-bottom: 50px;
margin-top: 50px;
     border-radius: 33px;
     background: #0066FF;
}



.card-img-top
{
    padding: 2rem;
}
.card-body
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding: 2rem;

    color: #FFFFFF;
}
.card-body h1
{
    padding-top: 2rem;
}
.card-body p
{
    padding-top: 2rem;
}
.card3  .card-body{
		color: #000000 ;
}
.card3
{
	background:#EBF3FF;
	position: relative;
	margin-top: -200px;
	margin-bottom: 100px;
	border-radius: 20px;
}

.accredit
{
		background: #0066FF;
		margin-top: 300px;
		margin-bottom: 100px;
}


.circle { 
    width:7rem;
    height: 7rem;
    border-radius: 50%;
    margin: auto;
}
/* section feedback */
.card1
{
    width: 450px;
    height: 310px;
    background: transparent;
    padding: 4rem;
    
}
.platform
{
    padding: 1rem 8rem;
    row-gap: 1rem;
  
}
.desktop
{
      border-radius:30px;
}
.text-left 
{
    padding:1rem 4rem;
}
.over1
{
    width: 10rem;
    height: 10rem;
}
@media screen and (max-width: 768px) {
    .section-1 h1{
        font-size: 1.5rem;
    }
    .simage{
        width: 90%;
    }
    
    /* .feed img{
        width: 100%;
    } */
}
@media screen and (max-width: 425px) {
    .feed{
        flex-direction: column !important;
    
    }
}

/* section 4 */
/* .contact
{
    width: 985.38px;
    height: 75.2px;
} */
/* footer */
footer
{
    background: #8B8282;
    position: absolute;
    margin-top: -150px;
    z-index: -1;
    padding-top: 120px;
    width: 100%;
}
ul
{
    list-style-type: none;
    
}

.letter
{
    margin-left: 30px;
}
ul a
{
    text-decoration: none;
    color: white;
}
a:hover
{
    color: #0066FF;
}

.rect
{
    padding: 3rem 0.1rem;
    background: #0066FF;
}

.circle1
{
    color: #0066FF;

    border-radius: 50%;
padding: 20px;
background-color: white;}


